:root {
  --myBlue: rgb(8, 217, 214);
  --myDark: rgb(37, 42, 52);
  --myPink: rgb(255, 46, 99);
  --myWhite: rgb(234, 234, 234);
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
  }

html {
    height: 100%;
    color: var(--myWhite);
}

body {
  display: grid;
  grid-template-rows: auto 100px;
  height: 100%;
}

/* wrap has got the nav, button and grid rowed */
.wrap {
  display: grid;
  grid-template-rows: 100px 100px 1fr; 
  overflow: auto;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: var(--myDark);
  font-size: 1.8rem;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.726); 
  z-index: 100;
}

nav img {
  height: 50px;
}

.buttonArea {
  background-color: var(--myWhite);
}

.flexy {
  background-color: var(--myWhite);
  display: flex;
  align-items: center;
  padding-top: 40px;
}

main {
  flex: 1;
  color: black;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 500px));
  grid-auto-rows: 250px;
  justify-content: center;
  gap: 40px;
}

main > div {
  border: solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: var(--myDark);
}

footer img {
  width: 100px;
}

footer img:hover {
  animation: shake 0.5s;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}