:root {
  --myBlue: rgb(8, 217, 214);
  --myDark: rgb(37, 42, 52);
  --myPink: rgb(255, 46, 99);
  --myWhite: rgb(234, 234, 234);
  --modalBorderRad: 10px;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
  }

html {
    height: 100%;
    color: var(--myWhite);
}

body {
  display: grid;
  grid-template-rows: auto 100px;
  height: 100%;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  width: 500px;
  /* border: solid var(--myDark); */
  z-index: 10;
  border-radius: var(--modalBorderRad);
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);

}

.modalHeader {
  background-color: var(--myPink);
  color: white;
  display: flex;
  justify-content: center;
  padding: 20px;
  border-top-left-radius: var(--modalBorderRad);
  border-top-right-radius: var(--modalBorderRad);
  border-bottom: solid var(--myDark);
  font-size: 1.5rem;
  font-weight: bold;
}

#closeBtn {
  position: absolute;
  right: 0;
  margin-right: 20px;
}

.modalBody {
  background-color: var(--myDark);
  color: white;
  border-bottom-left-radius: var(--modalBorderRad);
  border-bottom-right-radius: var(--modalBorderRad);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.bookForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  width: 70%;
}

.isReadArea {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#submitBtn {
  background-color: var(--myBlue);
}

#overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.63);
  pointer-events: none;
  transition: 200ms ease-in-out;
}

#overlay.active {
  pointer-events: all;
  opacity: 1;
}

/* wrap has got the nav, button and grid rowed */
.wrap {
  display: grid;
  grid-template-rows: 100px 100px 1fr; 
  overflow: auto;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: var(--myDark);
  font-size: 1.8rem;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.726); 
  z-index: 1;
}

nav img {
  height: 50px;
}

.addBookArea {
  background-color: var(--myWhite);
  display: flex;
  justify-content: center;
  align-items: center;
}

#addBookBtn {
  background-color: red;
}

.flexy {
  background-color: var(--myWhite);
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

main {
  flex: 1;
  color: black;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 500px));
  grid-auto-rows: 250px;
  justify-content: center;
  gap: 40px;
}

.bookCard{
  border-left: solid 10px var(--myPink);
  border-radius: 10px;
  box-shadow: 0px 5px 10px var(--myDark);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.bookCard.activate {
  border-left: solid 10px var(--myBlue);

}

.buttonArea {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.incrementBtn, .doneBtn {
  background-color: red;
  width: 30px;
}

.pageArea {
  display: flex;
  gap: 10px;
}

.readBtn {
  background-color: var(--myBlue);
}

.removeBtn {
  
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: var(--myDark);
}

footer img {
  width: 100px;
}

footer img:hover {
  animation: shake 0.5s;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}